.header .nav-tabs{
    border-bottom: none;
    padding: 0;
}
.header .nav-tabs .nav-link.active{
    border-color: transparent;
    background: transparent;
}
.header .nav-tabs .nav-link:hover {
    border: transparent;
}
.header .nav-tabs .nav-link {
    border: transparent;
}

.header {
    /* border: 1px solid red; */
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    background-color: rgba(255,255,255,0.1);
}
.header .container-fluid{
    margin: 0;
    /* padding: 0; */
}
.header .nav-tabs .nav-link {
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 500;
    font-family: 'Lato', sans-serif;
    padding: 6px 15px;
}

.header .btn-primary {
    background-color: #009444;
    border-color: #009444;
    text-transform: uppercase;
    font-size: 15px;
}
.img-wrapper-head img {
    width: 133px;
    height: 40px;
}

.p15{
    padding: 15px 0px;
}

/* //this is for dropdown mega menu */
.css-1qcxu9b{
    /* // position:inherit !important; */
    position: absolute !important;
    top: 2px;
    left: 0;
}

.css-1owbun0 {
    flex-direction: column !important;
}
.css-1owbun0 ul li{
        padding: 1px 15px;
        color: #fff ;
        font-weight: 500;
        font-size: 15px;
        text-transform: uppercase;
        cursor: pointer;
        font-family: 'Lato', sans-serif;
        position: relative;
}

.mega-link li::before {
    content: "";
    top: 13px;
    left: 8px;
    position: absolute;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #1DBDFC;
}
.css-13azwyo {   
    /* // border: 5px solid red  !important; */
    margin-top: 40px;
    width: 80em !important;
    padding: 50px 20px !important;
    /* background-color:  */
    background-image: linear-gradient(180deg, #e6f9ff, #e6ffe6);
    z-index: 9;
    left: -112%;
}

.mega-link h6 {
    font-size: 20px;
    text-transform: uppercase;
     border-bottom: 2px solid #1DBDFC;
}
.direction-column {
    flex-direction: column;
    align-items: flex-start;
}

.mega-link .nav-tabs .nav-link {
    color: #000000;
    text-transform: capitalize;
    font-size: 15px;
    font-weight: 600;
    font-family: 'Lato', sans-serif;
    padding: 6px 15px;
    text-align: center;
}

@media (min-width: 769px) and (max-width: 1024px) {
    .css-1owbun0 ul li{
            font-size: 12px !important;
    }
    
    .header .nav-tabs .nav-link {
            font-size: 12px !important;
    }
    .header .btn-primary {
        font-size: 13px;
    }
    .img-wrapper-head img {
        width: 70px !important;
        height: 25px !important;
    }

}

@media (min-width: 1225px) and (max-width: 1440px) {
    .css-13azwyo { 
        width: 75em !important;
        left: -106%;
    }
    .mega-link h6 {
        font-size: 18px;
    }

}
@media (min-width: 1025px) and (max-width: 1224px) {
    
    .css-13azwyo { 
        width: 63em !important;
        left: -84%;
    }
    .mega-link h6 {
        font-size: 15px;
    }
    .css-1owbun0 ul li{
            font-size: 12px !important;
    }
    
    .header .nav-tabs .nav-link {
            font-size: 12px !important;
    }
    .img-wrapper-head img {
        width: 70px !important;
        height: 25px !important;
    }
    .header .btn-primary {
        font-size: 13px;
    }
    
}
/* @media (min-width: 767px) and (max-width: 1024px) {
    
    .css-13azwyo { 
        width: 47em !important;
        left: -81%;
    }
    .mega-link h6 {
        font-size: 11px;
    }

} */

.for-tab .navbar-collapse {
    left: -14px;
  }

  .for-tab .dropdown-item {
      font-size: 12px;
  }
@media (min-width: 1025px) and (max-width: 1199px) {
    
    .img-wrapper-head {
        margin-bottom: 0px !important;
      }
}
@media (max-width: 1199px) and (min-width: 1025px) {
    
    .img-wrapper-head {
        margin-bottom: 0px !important;
      }
}
@media (max-width: 1024px) and (min-width: 769px){
    .css-1owbun0 ul li{
            font-size: 11px !important;
    }
    
    .header .nav-tabs .nav-link {
            font-size: 11px !important;
    }
    .img-wrapper-head {
        margin-bottom: 0px !important;
    }
    
    .css-13azwyo { 
        width: 47em !important;
        left: -81%;
    }
    .mega-link h6 {
        font-size: 11px;
    }
    
.mega-link .nav-tabs .nav-link {
    font-size: 9px !important;
}
}
@media only screen and (min-width : 1440px) {
    .css-1owbun0 ul li{
            font-size: 14px !important;
    }
    
    .header .nav-tabs .nav-link {
            font-size: 14px !important;
    }
    .img-wrapper-head img {
        width: 168px !important;
        height: auto !important;
    }
    .header .btn-primary {
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 1.1px;
    }
}

@media only screen and (max-width : 767px) {
.for-tab {
    display: block !important;
}
.for-desktop{
    display: none !important;
}
.p15{
    padding: 15px 0px 15px 15px !important;
    margin: 0 !important;
}

}

.header .themed-container{padding: 9px 0;}
.for-tab {
    display: none;
}
.for-desktop{
    display: block;
}
.navbar-collapse {   
     position: absolute;
    top: 60px;
    background: #fff;
    width: 100%;
    left: 0;
    padding: 12px;}
    .navbar {display: block;}

    .navbar-light .navbar-toggler {
        color: rgba(0,0,0,.5);
        border-color: rgba(0,0,0,.1);
        background: #1dbdfc;
        float: right;
    }


