.whoweare {
    font-family: 'Poppins', sans-serif;
    background-color: #f8f9fc;

}
.whowe-img img{
    width: 100%;
    height: 300px;
}

.whowe h5{
    text-transform: uppercase;
    font-size: 42px;
}
.skycolor {
    color: #1dbdfc;
}
.imgSec {
    width: 100%;
    height: auto;
  }
  .imgSec img {
    width: 100%;
  }