
.gallery-contain {
    background-color: #f8f9fc;
}
.gallery-img  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* object-fit: cover; */
}


.gallery-img {
    margin-bottom: 20px;
    width: 100%;
    height: 185px;
}   
.imgSec {
    width: 100%;
    height: auto;
  }
  .imgSec img {
    width: 100%;
  }