.expertise {
    background-color: #1dbdfc;
    font-family: 'Poppins', sans-serif;
}

.tect-wrap {
    padding: 20px;
    margin-bottom: 25px;
    background-color: #19a3d9;
    width: 100%;
    

}
.tect-wrap p {
    margin-bottom: 0px;
    color: #fff;
}
.tect-wrap img {
    height: 50px;
    width: 50px;
    margin-bottom: 10px;
}
/* @media (min-width: 1200px){
    .tect-wrap.col-xl-3 {
        flex: 0 0 24%;
        max-width: 24%;
    }
} */

.tech-head h2 {
    font-size: 32px;
    text-transform: uppercase;
    color: #fff;
    /* line-height: 1; */
    margin-bottom: 0;
}
.tech-head h2 span {
    color: #f15a29;
}
.tech-head p {
    font-size: 18px;
    color: #fff;
}

.tech-desp {
    color:  #d6f0fb;
    margin-bottom: 60px;
}
@media (min-width: 992px) {
    .tect-wrap p {
        font-size: 12px;
    }

}