.testing-process{
    background-color: #f8f9fc;
    font-family: 'Lato', sans-serif;
}
.testing-process-head h2{
    font-size: 50px;
    text-transform: uppercase;
    font-weight: 600;
}
.testing-process-head span{
    color: #1dbdfc;
}
.imgg{
    margin: 50px 0;
}
.imgg img{
    width: 100%;
}
.testing-button{
    margin: 50px 0;
}
.testing-button button{
  background-color: #082a37;
  border-color: #082a37;
  text-transform: uppercase;
  font-size: 15px;
  text-align: center;
  font-weight: 600;
  padding: 10px 50px;
  border-radius: 40px 40px 40px 40px;
}
.testing-button button:hover{
  background-color: #082a37;
  border-color: #082a37;
}
.testing-bottamBanner{
    font-family: 'Poppins', sans-serif;
    /* background: #1dbdfc; */
    background-image: url("./../../images/quaTextBox.png");
    height: 130px;
    padding:30px;
    margin: 50px 0;
    border-radius: 8px;
    color: #fff;
    font-size: 18px;
}
.automation {
    background-color: #F8F9FC;
}
.automation h2 {
    font-size: 42px;
    text-transform: uppercase;
    font-weight: 600;
}


@media only screen and (max-width : 600px) {
    .testing-bottamBanner{
        height: 100%;
        padding: 10px;
        font-size: 15px;
    }
    
    .testing-process-head h2{
        font-size: 30px;
    }
    .automation h2 {
        font-size: 35px;
    }
            

    }
    @media only screen and (min-width : 769px) and (max-width : 1024px) {

    }