.domain {
    font-family: 'Poppins', sans-serif;
}


.domain-head {
    width: 100%;
    margin: 0 0 80px 0;
}
.domain-head h2 {
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
    color: #000;
    margin-bottom: 10px;
}
.domain-head h2 span {
    color: #1dbdfc;
}
.domain-head p {
    font-size: 14px;
    font-weight: 300;
    color: #000;
    margin-bottom: 70px;
    width: 75%;
    margin: auto;
}



.topic img{
    height: 180px;
    width: 210px;
}

.desp-topic .btn-primary {
    background-color: #009444;
    border-color: #009444;
    text-transform: uppercase;
    font-size: 15px;
}

.leftTopic h2 {
    font-size: 36px;
    font-weight: 600;
    margin-left: 10px;
}

.category-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 90px;
    border-bottom: 1px solid #cdcdcd;
    cursor: pointer;
}


.position-relative {
    position: relative;
    padding: 2px 35px;

}
.green ::before {
    content: "";
    position: absolute;
    right: 39%;
    bottom: 0px;
    height: 6px;
    width: 30px;
    background-color: #009444;
}
.purple ::before {
    content: "";
    position: absolute;
    right: 39%;
    bottom: 0px;
    height: 6px;
    width: 30px;
    background-color: #7f3f98;
}
.orange ::before {
    content: "";
    position: absolute;
    right: 39%;
    bottom: 0px;
    height: 6px;
    width: 30px;
    background-color: #f15a29;
}
.sky ::before {
    content: "";
    position: absolute;
    right: 39%;
    bottom: 0px;
    height: 6px;
    width: 30px;
    background-color: #1cb5f2;
}
.blue ::before {
    content: "";
    position: absolute;
    right: 39%;
    bottom: 0px;
    height: 6px;
    width: 30px;
    background-color: #01478e;
}
.health-before ::before {
    content: "";
    position: absolute;
    right: 39%;
    bottom: 0px;
    height: 6px;
    width: 30px;
    background-color: red;
}

.green-back {
    background-color: #009444;
    position: relative;
}

.green-back::after {
    content: "";
    position: absolute;
    right: 35%;
    top: -31px;
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-bottom: 31px solid #009444;
}

.health-tab {
    padding: 20px 50px 10px;
}
.health-tab p{
    font-weight: 500; 
    text-transform: uppercase;
    margin-top: 14px;
}
.green-active{background: #009444;}

.green-active:before {
    width: 40px;
    height: 40px;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid #009444;
    content: "";
    margin: 0 auto;
    position: absolute;
    top: -40px;
    left: 81px;
}


.green-active p{
    color: #fff;
}
.green-active img {
    filter: brightness(100) invert(0);
}

.purple-active{background: #7f3f98;}
.purple-active:before{

    width: 40px;
    height: 40px;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid #7f3f98;
    content: "";
    margin: 0 auto;
    position: absolute;
    top: -40px;
    left: 81px;
}
.purple-active p{
    color: #fff;
}
.purple-active img {
    filter: brightness(100) invert(0);
}

.orange-active{background: #f15a29;}

.orange-active:before{

    width: 40px;
    height: 40px;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid #f15a29;
    content: "";
    margin: 0 auto;
    position: absolute;
    top: -40px;
    left: 81px;
}
.orange-active p{
    color: #fff;
}
.orange-active img {
    filter: brightness(100) invert(0);
}

.sky-active{background: #1cb5f2;}
.sky-active p{
    color: #fff;
}
.sky-active img {
    filter: brightness(100) invert(0);
}

.blue-active{background: #01478e;}

.blue-active:before{
    width: 40px;
    height: 40px;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid #01478e;
    content: "";
    margin: 0 auto;
    position: absolute;
    top: -40px;
    left: 81px;

}
.sky-active:before{
    width: 40px;
    height: 40px;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid #1cb5f2;
    content: "";
    margin: 0 auto;
    position: absolute;
    top: -40px;
    left: 81px;

}
.blue-active p{
    color: #fff;
}
.blue-active img {
    filter: brightness(100) invert(0);
}
.imgSec {
    width: 100%;
    height: auto;
  }
  .imgSec img {
    width: 100%;
  }

@media only screen and (max-width : 767px) {
    
    .category-container{
     display: flex;  
     justify-content: center;
     align-items: center; 
     flex-wrap: wrap;
    }

    .leftTopic h2 {
        font-size: 25px;
    }
    .domain-head h2 {
        font-size: 35px;
    }
    .topic {
        margin-bottom: 20px
    }
    .topic img {
        height: 90px;
        width: 105px;
    }

}

@media (max-width : 768px) and (max-width : 1100) {
    .category-container{
        display: flex;  
        justify-content: center;
        align-items: center; 
        flex-wrap: wrap;
       }
   
       .leftTopic h2 {
           font-size: 30px;
       }
    }