.clients {
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;

}
.client-img img{
    height: auto;
    width: 80px;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid #1dbdfc;
    margin-right: 15px;

}
.custom-carousel .carousel {
    height: 350px;
}
.custom-carousel .carousel-indicators .active {
    background-color: #1dbdfc;
}
.custom-carousel .carousel-indicators li {
    background-color: #cdcdcd;
}
.actual-client h5{
    margin-bottom: 0;
    font-size: 20px;
}
.actual-client h5 span{
    margin-bottom: 0;
    font-size: 20px;
}
.actual-client p{
    margin-bottom: 0;
    font-size: 14px;
}
.title-carousel h3{
    color: #000;
    font-size: 48px;
    text-transform: uppercase;
    font-weight: 600;
}
.title-carousel h4{
    color: #1dbdfc;
    font-size: 48px;
    text-transform: uppercase;
    margin-bottom: 60px;
    font-weight: 600;
}
.custom-carousel .carousel-item {
    font-size: 22px;
font-weight: 300;
}

@media only screen and (max-width : 767px) {

    .title-carousel h3{    font-size: 38px;}
    .title-carousel h4 {
        font-size: 35px;}

        .actual-client h5 {
            font-size: 18px;
        }

        .customer-head h2 {
            font-size: 35px;
        }
        .clients {
            width: 100%;
        }
}